body
{
  font-family: "Lucida Grande", sans-serif;
  color: #666;
  font-size: 16px;
}

h1
{
  margin-bottom: 25px;
  font-size: 45px;
}

h2
{
  color: #f07c17;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0;
}

.features{
  border: 1px solid #ccc;
}

.top-margin
{
  margin-top:20px;
}

.row-gap
{
  margin-top: 10px; 
}
.row-gap-medium {
  margin-top: 15px;
}
.row-gap-large
{
  margin-top: 20px;
}

.row-gap-huge {
  margin-top: 35px;
}

.zero-padding
{
  padding: 0;
}

.bottom-margin
{
  margin-bottom: 5px;
}

.left-margin
{
  margin-left: 10px;
}

.details
{
  line-height: 2;
  padding-right: 2px;
  padding-bottom: 2px;
}

.last-details
{
  line-height: 2;
  padding-right: 2px;
  padding-bottom: 5px;
}

.container
{
  width: 960px;
}

li:not(:last-child) {
    padding-top: 3px;
    padding-bottom: 10px;
}