
body {
  font: 16px/32px "Lucida Grande", sans-serif;
  color: #666;
}


h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}


h1 {
  font-size: 45px;
  padding-bottom: 2px;
}


h2 {
  color: #f07c17;
  font-size: 30px;
}


.features {
  border: 1px solid #ccc;
}


.zero-padding {
  padding: 0;
}


.bottom-margin {
  margin-bottom: 20px;
}


.left-margin {
  margin-left: 15px;
}


.group:before,
.group:after {
  content: " ";
  display: table;
}


.group:after {
  clear: both;
}


.group.gap-small {
  margin-top: 10px;
}


.group.gap-medium {
  margin-top: 15px;
}


.group.gap-large {
  margin-top: 20px;
}


.group.gap-xlarge {
  margin-top: 25px;
}


.group.gap-xxlarge {
  margin-top: 30px;
}


.group.gap-huge {
  margin-top: 40px;
}